/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash_appointmentList,
.dash_calender{
  margin-top: 100px
}

.dashboard_header{
    width: 100%;
}

.sidebar_Container{
    position: absolute;
    top: 0;
    right: 0;
}

.navigation{
    position: relative;
    width: 0px;
    height: 100vh;
    padding: 10px;
    background: #7AB259;
    transition: .5s;
    overflow: hidden;
    z-index: 99999;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navigation:hover,
.navigation.active
{
    width: 329px;
}

.navigation ul{
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #ddd;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    background: #ddcc83;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}


.signOut{
  margin-top: 200px
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.toggle{
    position: absolute;
    top: 0;
    right: 100px;
    width: 60px;
    height: 90px;
    background: #7AB259;
    cursor: pointer;
     z-index: 999999;
}



.toggle::before{
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active::before{
    content: "\f00d";
}





@media (max-width: 768px) {
    .navigation{
        left: -60px;
    }

    .navigation.active{
        left: 0px;
        width: 100%;
    }
} */





/* .appointments_list{
    background: #ddd;
    padding: 40px;
    height: 90vh;
    text-align: center;
} */
.total_add_cart{
    position: fixed;
    top: 20%;
}

.Order_history{
    position: absolute;
    top: 2%;
    right: -210px;
    width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition:  .5s;
    -webkit-transition:  .5s;
    -moz-transition:  .5s;
    -ms-transition:  .5s;
    -o-transition:  .5s;
}

/* .Order_history:hover, */
.Order_history.active
{
    right: 0px;
    padding: 20px;
}


.toggle.active{
    background: #ddd;
    z-index: 99999999999;
}

.toggle{
     position: absolute;
     top: 0;
     right: 180px;
     width: 200px;
     height: 60px;
     background: #7AB259;
     cursor: pointer;
     z-index: 999999;
     transition:  .5s;
     -webkit-transition:  .5s;
     -moz-transition:  .5s;
     -ms-transition:  .5s;
     -o-transition:  .5s;
}
.Order_history.active .toggle{
    position: absolute;
    top: 100px;
    right: 140px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


.toggle::before{
    content: "\f290 ";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active::before{
    content: "\f00d";
}

.dashboard_header span{
    background: #fff;
    color: #000;
    line-height: 60px;
    padding:  15px;
    margin: 0 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Order_history.active .dashboard_header span{
    background: #fff;
    color: #000;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}